<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.awards %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Awards</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.awards %}

    <div class="ui grid">
      <div class="twelve wide column no-bottom">
        <p class="ui no-bottom">
          <b>{{ entry.title }}</b>, {{ entry.awarder }}{% if entry.date %}, {{ entry.date }}{% endif %}
        </p>
        <p class="ui">{{ entry.summary }}</p>
      </div>
      <div class="four wide right aligned column no-bottom">
          <p class="ui no-bottom"><b>
            <!-- <button class="ui button">
              Preview
            </button> -->
            <!-- {% include lightbox.html src="image.jpg" data="group" title="Sample Title" %}
            {% include lightbox.html src="https://techfolios.github.io/template/images/molly.png" data="group" title="Sample Title" %} -->
          </b></p>
        </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}